# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [5]:
from pandas import Series

In [9]:
numeros = Series([1, 2, 3, 4, 5])
numeros

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
paises = {
  "Argentina": "Buenos Aires",
  "Rusia": "Moscú",
  "Alemania": "Berlín",
  "Brasil": "Brasilia",
  "Japón": "Tokio",
  "China": "Pekín"
}

series_paises = Series(paises)
series_paises

Argentina    Buenos Aires
Rusia               Moscú
Alemania           Berlín
Brasil           Brasilia
Japón               Tokio
China               Pekín
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [25]:
tareas = ["Estudiar python", "Hacer ejercicio", "Limpiar la casa", "Lavar la ropa", "Jugar al futbol", "Hacer las tareas del polo", "Dormir"]

dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"]

series_tareas = Series(tareas, index=dias)

series_tareas

Lunes                  Estudiar python
Martes                 Hacer ejercicio
Miercoles              Limpiar la casa
Jueves                   Lavar la ropa
Viernes                Jugar al futbol
Sabado       Hacer las tareas del polo
Domingo                         Dormir
dtype: object

In [30]:
print(series_tareas["Lunes"])
print(series_tareas["Miercoles"])
print(series_tareas["Sabado"])

Estudiar python
Limpiar la casa
Hacer las tareas del polo

In [32]:
series_tareas["Martes"] = "Cocinar"
series_tareas["Jueves"] = "Estudiar matematica"
series_tareas["Sabado"] = "Mirar series"
series_tareas

Lunes            Estudiar python
Martes                   Cocinar
Miercoles        Limpiar la casa
Jueves       Estudiar matematica
Viernes          Jugar al futbol
Sabado              Mirar series
Domingo                   Dormir
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [33]:
serie1 = Series([2, 4, 6, 8, 10])
serie2 = Series([3, 6, 9, 12, 15])

serie1 + serie2

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [37]:
cuadrado = serie1 ** 2
cubo = serie1 ** 3
quinta = serie1 ** 5

cuadrado, cubo, quinta

(0      4
 1     16
 2     36
 3     64
 4    100
 dtype: int64,
 0       8
 1      64
 2     216
 3     512
 4    1000
 dtype: int64,
 0        32
 1      1024
 2      7776
 3     32768
 4    100000
 dtype: int64)

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [56]:
edades = Series([10, 14, 18, 20, 23, 25, 35, 43, 45, 64])

edades

0    10
1    14
2    18
3    20
4    23
5    25
6    35
7    43
8    45
9    64
dtype: int64

In [57]:
edades[edades > 18]

3    20
4    23
5    25
6    35
7    43
8    45
9    64
dtype: int64

In [58]:
edades = edades.astype("object")
edades[edades < 18] = "menor de edad"
edades

0    menor de edad
1    menor de edad
2               18
3               20
4               23
5               25
6               35
7               43
8               45
9               64
dtype: object

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [59]:
notas = Series([7, 6, 5, 8, 10, 9, 8, 5, 6, 7])
notas

0     7
1     6
2     5
3     8
4    10
5     9
6     8
7     5
8     6
9     7
dtype: int64

In [64]:
media = notas.mean()
mediana = notas.median()
desviacion_estandar = notas.std()
maximo = notas.max()

media, mediana, desviacion_estandar, maximo

(np.float64(7.1), np.float64(7.0), np.float64(1.66332999331662), np.int64(10))

In [65]:
cantidad_aprobados = notas[notas >= 6].count()
cantidad_aprobados

np.int64(8)

In [72]:
notas_ordendadas_ascendente = notas.sort_values()
notas_ordendadas_ascendente

2     5
7     5
1     6
8     6
9     7
0     7
3     8
6     8
5     9
4    10
dtype: int64

In [73]:
notas_ordenadas_descendente = notas.sort_values(ascending=False)
notas_ordenadas_descendente

4    10
5     9
3     8
6     8
9     7
0     7
1     6
8     6
2     5
7     5
dtype: int64